$site-name: Time Assured !global;
$author:	Andrew !global;

@import 'bourbon';

// Convert PX to Rem depending on these values
$px-only: false;
$ie: false;

@import "partials/normalize";
@import "partials/functions"; // Functions u() etc
@import "partials/breakpoints"; // Breakpoints
@import "partials/mixins"; // Mixins
@import 'partials/global'; // Photoshop variables
@import 'partials/columns'; // Columns
@import 'partials/gridmath'; /* Grid Math */

/* All Elements */ 
@import "components";

// Extra fancy shit.
@import "partials/animations";	// Animations
@import "partials/alerts"; // Alerts
@import "partials/buttons"; // buttons
@import "partials/forms"; // forms (inputs & labels)

/* Print Styles */
@media print { @import "print/print"; }
